*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    min-height:100vh;
    background:#f5f5f5;
    color:#222;
    transition:0.4s ease;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 0;
}

h1{
    font-size:2rem;
}

#theme-btn{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    cursor:pointer;

    background:white;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.15);

    transition:0.3s ease;
}

#theme-btn:hover{
    transform:scale(1.08);
}

.icon{
    font-size:1.5rem;
}

main{
    margin-top:120px;
    text-align:center;
}

main h2{
    font-size:3rem;
    margin-bottom:20px;
}

main p{
    font-size:1.2rem;
    max-width:600px;
    margin:auto;
    line-height:1.8;
}

/* DARK THEME */

body.dark{
    background:#121212;
    color:white;
}

body.dark #theme-btn{
    background:#222;

    box-shadow:
        0 5px 15px rgba(255,255,255,0.1);
}

body.light{
    background:#f5f5f5;
    color:#222;
}

body.light #theme-btn{
    background:white;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.15);
}

body.light nav{
    color:#222;
}

body.light p{
    color:#444;
}